<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action={{url}} method="POST">
        <label for="search image">Search Image:</label><br>
        <input type="test" id="query" name="query" value=""><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>


<div >
    {% for img in imgData %}
    <img style="padding: 10px; width: 50%; " src="{{img}}">
    {% endfor %}
</div>